<footer>
    <div class="jumbotron " style="background-color: #14181b;">
        <div class="container">
            
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-2 col-md-3 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-20">

                            <div class="footer-logo mb-35">
                                <a href="#">
                                    <h2 class="logo">LOGO</h2>
                                    <img src="" alt="">
                                </a>
                                <p style="color: white;">Building applications has never been easier.
                                </p>
                                <!-- <button type="button" class="btn  btn-lg product-hunt">
                                    <label>Product Hunt</label>
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle ">
                            <h4>Product</h4>
                            <ul>
                                <div class="list-group">
                                <li><a href="#" >Work</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Tips & Tricks</a></li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Help</h4>
                            <ul>
                                <div class="list-group">
                                <li><a href="#">Air freight</a></li>
                                <li><a href="#">Ocean freight</a></li>
                                <li><a href="#">Large projects</a></li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Get in touch</h4>
                            <ul>
                                <div class="list-group">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Submit Ticket</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-2 col-lg-6 col-md-8 col-sm-10">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle mb-10">

                        </div>
                            <h4>Legal</h4>
                            <ul>

                                <div class="list-group">
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </div>
                            </ul>
                        </div>




                    </div>
                
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">

        <div class="footer-border">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="footer-copy-right ">
                        <div class="copyright">Copyright © 2021 .......... All rights reserved. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>