<!-- <div class="row ">
<div class="col-6  p-5 mb-4  text-white">
    <div class="container">
      <h1><p class=" display-5 fw-bold">Build Ussd Apps Visually.</p></h1>
      <p class="col-md-8 text-grey">Drag and drop components, and turn designs into real application screens in minutes instead of hours. Take advantage of the various widgets and their properties to build elaborate and beautiful apps.</p>
      <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Build Your App</button>
    </div>
  </div>
  <div class="col-6">
      <img src="" alt="">
  </div>
</div>
<div class="row">
    <div class="col-6  p-5 mb-4">
         <img src="" alt="">
      </div>
      <div class="col-6  text-white" >
          <div class="container">
          <h1><p class=" display-5 fw-bold">Connect Your Screens.</p></h1>
          <p class="col-md-8 text-grey">Control how a user navigates through the app, pass parameters with navigation to enable real-world use cases, and preview the app right in your browser.</p>
          <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Build Your App</button>
        </div>
         
      </div>
    </div>

    <div class="row">
        <div class="col-6  p-5 mb-4  text-white">
            <div class="container">
              <h1><p class=" display-5 fw-bold">Build Ussd Apps Visually.</p></h1>
              <p class="col-xm-12 text-grey">Drag and drop components, and turn designs into real application screens in minutes instead of hours. Take advantage of the various widgets and their properties to build elaborate and beautiful apps.</p>
              <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Build Your App</button>
            </div>
          </div>
          <div class="col-6">
              <img src="" alt="">
          </div>
        </div> -->


<div class="row margin mb-5">
        <div class="card mb-3" style="max-width:100%; background-color: rgb(29, 36, 41);">
          <div class="row g-0">
            
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title text-white display-5 fw-bold">Build Ussd Apps Visually</h5>
                <p class="card-text text-grey">Drag and drop components, and turn designs into real application screens in minutes instead of hours. Take advantage of the various widgets and their properties to build elaborate and beautiful apps.</p>
                <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Build Your App</button>

              </div>
            </div>
            <div class="col-md-6">
              <img src="..." alt="...">
            </div>
          </div>
        </div>
</div>

   <div class="row margin mb-5">

    <div class="card mb-3" style="max-width:100%; background-color: rgb(29, 36, 41);">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="..." alt="...">
        </div>
        <div class="col-md-6 mb-5">
          <div class="card-body">
            <h5 class="card-title text-white display-5 fw-bold">Connect Your Screens</h5>
            <p class="card-text text-grey">Control how a user navigates through the app, pass parameters with navigation to enable real-world use cases, and preview the app right in your browser.</p>
            <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Build Your App</button>

          </div>
        </div>
       
      </div>
    </div>
   </div>     

   
<div class="row margin mb-5" >
  <div class="card mb-3" style="max-width:100%; background-color: rgb(29, 36, 41);">
    <div class="row g-0">
      
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title text-white display-5 fw-bold">Connect Your Designs to Firebase</h5>
          <p class="card-text text-grey">Easily implement dynamic data in your designs, quickly hook up Firebase and then select where those calls are made within your design.</p>
          <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Build Your App</button>

        </div>
      </div>
      <div class="col-md-6">
        <img src="..." alt="...">
      </div>
    </div>
  </div>
</div>

<div class="row margin mb-5">

<div class="card mb-3" style="max-width:100%; background-color: rgb(29, 36, 41);">
<div class="row g-0">
  <div class="col-md-6">
    <img src="..." alt="...">
  </div>
  <div class="col-md-6 ">
    <div class="card-body">
      <h5 class="card-title text-white display-5 fw-bold">Preview & Export Code</h5>
      <p class="card-text text-grey">View the generated code in your browser, copy and paste it to your editor, download and run in your emulator, or connect it with GitHub in order to sync with your repository!</p>
      <button class="btn btn-dark btn-lg " type="button" style="background-color:#4b39ef;border-radius: 8px; ">Start Free Trial</button>

    </div>
  </div>
 
</div>
</div>
</div>     