.body{
    background-color: rgb(29, 36, 41);
}
.card{
    border:solid 4px rgb(29, 36, 41);
    border-radius: 15px;
    -webkit-box-shadow: 3px 2px 20px -1px rgba(0,0,0,0.79); 
    box-shadow: 5px 2px 20px -1px rgba(0,0,0,0.79);
   

}
/* .card-group{
    display: flex;
    flex-direction: row;
   
} */

.watch{
    font-size: 80%;
  
    text-decoration: none;
    color: #4b39ef;
}
.watch:hover{
    color: red;
}
 


.text-grey{
    color: rgb(153, 153, 153);
}
 /* .card-body{
    height: 250px;
}  */


  /* @media only screen and (max-width: 950px) {

.card{
    width:50%
} */

/* .card-groups{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}  */


/* }   */